*                        @amayabdaniel
/.github/                @amayabdaniel
/Dockerfile              @amayabdaniel
/infra/                  @amayabdaniel
/SECURITY.md             @amayabdaniel
/.gitignore              @amayabdaniel
/.github/workflows/      @amayabdaniel
